{% extends "admin/layout.html" %}

{% block content %}

<!-- Main Content -->
<div class="main-content">
  <section class="section">
    <div class="section-body">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-6">

          <div class="card">
            <form class="needs-validation" action="{{url_for('update_exercise')}}" method="POST"
              enctype="multipart/form-data" novalidate="">
              {% for j in view_exercise%}
              <div class="card-header">
                <h4>Edit Exercise</h4>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <label>Exercise Category</label>
                  <select class="form-control" name="cat_id" required="">
                    <option value="">Select Category</option>
                    {% for cat in viewcat %}
                    <option value="{{cat[0]}}" {% if cat[0]==j[2] %}selected{% endif %}>{{cat[1]}}</option>
                    {% endfor %}
                  </select>
                  <div class="invalid-feedback">
                    Exercise Name ?
                  </div>
                </div>

                <div class="form-group">
                  <label>Exercise Name</label>
                  <input type="hidden" class="form-control" name="exercise_id" value="{{j[0]}}" required="">

                  <input type="text" class="form-control" name="exercise_name" value="{{j[1]}}" required="">
                  <div class="invalid-feedback">
                    Exercise Name ?
                  </div>
                </div>

                <div class="form-group">
                  <label>Exercise video </label>
                  <input type="file" class="form-control" name="video_url" required="">

                  <video width="130" height="130" controls>
                    <source src="../{{j[3]}}" type="video/mp4">
                  </video>
                  <div class="invalid-feedback">
                    Oh no! video is invalid.
                  </div>
                </div>
                <div class="form-group">
                  <label>Equipment</label>
                  <input type="text" class="form-control" name="exe_equipment" value="{{j[4]}}" required="">
                  <div class="invalid-feedback">
                    which equipment is going to use in this Exercise ?
                  </div>
                </div>
                <div class="form-group">
                  <label>sets</label>
                  <input type="text" class="form-control" name="exe_sets" value="{{j[5]}}" required="">
                  <div class="invalid-feedback">
                    how many sets ?
                  </div>
                </div>
                <div class="form-group">
                  <label>reps</label>
                  <input type="text" class="form-control" name="exe_reps" value="{{j[6]}}" required="">
                  <div class="invalid-feedback">
                    how many reps ?
                  </div>
                </div>
                <div class="form-group mb-0">
                  <label>Exercise Description</label>
                  <textarea class="form-control" name="exe_description"  value="{{j[7]}}" required></textarea>
                  <div class="invalid-feedback">
                    What do you wanna say?
                  </div>
                </div>
              </div>
              {% endfor %}
              <div class="card-footer text-right">
                <button type="submit" class="btn btn-primary">Update</button>
                <a href="{{ url_for('view_exercise') }}" class="btn btn-secondary">Cancel</a>
              </div>
            </form>
          </div>
        </div>

        </form>
      </div>
    </div>
</div>
</div>
</section>

{% endblock %}