{% extends "admin/layout.html" %}

{% block content %}

<!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-body">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-6">
                
                <div class="card">
                  <form class="needs-validation" action="{{url_for('add_recipeing')}}" method="POST"  novalidate="">
                    <div class="card-header">
                      <h4>Recipe ingredient form</h4>
                    </div>

                    <div class="card-body">
                      <div class="form-group">
                        <label>recipe name  </label>
                         <select class="form-control" required="" name="diet_id">
                          <option value="">Select recipe</option>
                          {% for cat in view_dietplans %}
                          <option value="{{cat[0]}}">{{cat[2]}}</option>
                          {% endfor %}

                        </select>
                        
                      </div>

                      <div class="form-group">
                        <label>ingredient  </label>
                        <input type="text" class="form-control" name="ri_ingredientname" required=""placeholder="ingredient">
                        <div class="invalid-feedback">
                         ingredient name ?
                        </div>
                      </div>
                      <div class="form-group">
                        <label> Quantity</label>
                        <input type="text" class="form-control" name="ri_quantity" required="" placeholder="eg . 1 or 2 gram,">
                        <div class="invalid-feedback">
                          How much Quantity ?
                        </div>
                      </div>
                      
                    <div class="card-footer text-right">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
              
                  
                </div>
              </div>
            </div>
          </div>
        </section>

        {% endblock %}