{% extends "admin/layout.html" %}

{% block content %}

<div class="main-content">
  <section class="section">
    <div class="section-body">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-11">
          <div class="card">
            <div class="card-header">
              <h4>Reciep ingredients Table</h4>
            </div>
            <div class="card-body">

              <table class="table table-bordered table-md">
                <tr>
                  <th>#</th>
                  <th> recipe name </th>   
                  <th> ingredient Name</th>                              
                  <th>Quantity</th>

                  <th>Action</th>
                </tr>


                <tbody>
                  {% set count=1 %}
                  {% for reccat in view_recieping %}
                  {% set count = loop.index %}
                  <tr>
                    <td>{{count}}</td>
                    <td>{{reccat[0]}}</td>
                    <td>{{reccat[3]}}</td>
                    <td>{{reccat[4]}}</td>
                    

                    <td><a class="btn btn-danger" href="{{url_for('delete_reccat',ingredient_id=reccat[2])}}" onclick="return confirm('Are you sure to delete this category?')">Delete</a>
                    <a class="btn btn-primary" href="{{url_for('edit_reccat',ingredient_id=reccat[2])}}">Edit</a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>

              </table>

            </div>

          </div>
        </div>
      </div>

    </div>
  </section>
</div>

{% endblock %}