{% extends "admin/layout.html" %}

{% block content %}

<div class="main-content">
  <section class="section">
    <div class="section-body">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-11">
          <div class="card">
            <div class="card-header">
              <h4>Diet plans Table</h4>
            </div>
            <div class="card-body">

              <table class="table table-bordered table-md">
                <tr>
                  <th>#</th>
                  <th>Plan name</th>
                  <th>Duration</th>
                  <th>Price</th>
                  <th>status</th>
                  

                  <th>Action</th>
                </tr>


                <tbody>
                  {% set count=1 %}
                  {% for member in view_membership %}
                  {% set count = loop.index %}
                  <tr>
                    <td>{{count}}</td>
                    <td>{{member[1]}}</td>
                    <td>{{member[2]}}</td>
                    <td>{{member[3]}}</td>
                    
                    <td>
                        {% if member[4] == 1 %}
                        <span class="badge badge-success">Active</span>
                        {% else %}
                        <span class="badge badge-danger">Deactive</span>
                        {% endif %}
                        </td>



                    <td><a class="btn btn-danger" href="{{url_for('delete_membership',membership_id=member[0])}}" onclick="return confirm('Are you sure to delete this membership plan?')">Delete</a>
                    <a class ="btn btn-primary" href="{{url_for('edit_membership',membership_id=member[0])}}">Edit</a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>

              </table>

            </div>

          </div>
        </div>
      </div>

    </div>
  </section>
</div>

{% endblock %}