{% extends "admin/layout.html" %}

{% block content %}

<div class="main-content">
  <section class="section">
    <div class="section-body">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-11">
          <div class="card">
            <div class="card-header">
              <h4>Diet plans Table</h4>
            </div>
            <div class="card-body">

              <table class="table table-bordered table-md">
                <tr>
                  <th>#</th>
                  <th>Diet name</th>
                  <th>Diet image</th>
                  

                  <th>Action</th>
                </tr>


                <tbody>
                  {% set count=1 %}
                  {% for dietcat in view_dietcat %}
                  {% set count = loop.index %}
                  <tr>
                    <td>{{count}}</td>
                    <td>{{dietcat[1]}}</td>
                    <td><img  src="{{dietcat[2]}}" height="100" width="100" ></td>
                   
                    



                    <td><a class="btn btn-danger" href="{{url_for('delete_dietcat',dietcat_id =dietcat[0])}}" onclick="return confirm('Are you sure to delete this diet category?')">Delete</a>
                    <a class="btn btn-primary" href="{{url_for('edit_dietcat',dietcat_id =dietcat[0])}}">Edit</a></td>
                  </tr>
                  {% endfor %}
                </tbody>

              </table>

            </div>

          </div>
        </div>
      </div>

    </div>
  </section>
</div>

{% endblock %}