{% extends "user/u_layout.html" %}

{% block content %}
<!-- =========== FITNESS-OUR-PROGRAM =========== -->
	<section class="fitness-our-program" style="background-image: url(/static/user/assets/img/bg-best.svg);">
		<span class="section-title-bg"></span>
		<div class="container">
			<h2 class="title-decor">Gym <span>Products</span></h2>
			<p class="slogan">Discover our premium gym products designed to enhance your workout experience.</p>
			<div class="row">
				{% for j in data %}
				<div class="col-sm-4 fitness-program-col">
					<div class="fitness-program-item">
						<div class="fitness-program-item-front" style="background-image: url('/{{ j[4].replace('product_img', 'product_img/') }}');">
							<div class="fitness-program-item-inner">
								
								<h3>{{j[1]}}</h3>
							</div>
						</div>
						<div class="fitness-program-item-back" style="background-image: url('/{{ j[4].replace('product_img', 'product_img/') }}');">
							<a href="{{url_for('u_productinfo', product_id=j[0])}}" class="fitness-program-item-inner">
								
								<h3>{{j[1]}}</h3>
							</a>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<a href="program.html" class="btn">view more</a>
		</div>
	</section>
	<!-- ========= FITNESS-OUR-PROGRAM END ========= -->


{% endblock %}